{% extends 'master/base.html' %}

{% block content %}
<h1>Categoty list</h1>
<a href="{% url 'add_category' %}" class="btn btn-success">Add category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for data in category_data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{data.name}}</td>
            <td>
                <a href="{% url 'update_category' data.id %}">Edit</a>
                <a href="{% url 'delete_category' data.id %}">delete</a>
            </td>
        </tr>
        
        
        {% endfor %}
        
    </tbody>


</table>
    
{% endblock content %}
    