{% extends 'master/base.html' %}

{% block content %}
  <h1>Product list</h1>
  <a href="{% url 'add_product' %}" class="btn btn-success">Add product</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SL</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Total Amount</th>
        <th>Created By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for data in product_data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ data.product_name }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.qty }}</td>
          <td>{{ data.total_amount }}</td>
          <td>{{ data.created_by }}</td>
          <td>
            <a href="{% url 'edit_product' data.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_product' data.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
